.card {
  border-radius: 5px;
  box-shadow: 1px 1px 5px darkgrey;
  padding: 20px;

  margin: 30px auto;
  transition: .3s;
}

.card:hover {
  box-shadow: 2px 2px 9px darkgrey;
}

.green {
  border: solid 1px #77f8b4;
}

.red {
  border: solid 1px crimson;
}
